.main-page {
  height: 100vh;
  background: linear-gradient(145deg, #0f172a, #111827);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  text-align: center;
}

.portal-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.portal-buttons button {
  padding: 14px 24px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #1e40af;
  color: white;
  transition: 0.3s;
}

.portal-buttons button:hover {
  background: #2563eb;
}
